body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #000;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.back-button-container {
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.back-button {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 60px;
    margin-top: 40px;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.cook-card {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cook-image {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.cook-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
}

.cook-description {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    padding: 0 10px;
}
